
.frame {
  width: 50%;
}

.frame-inner {
  margin-left: 20px;
  margin-top: 50px;
  padding: 20px;
}

.frame-list {
  width: 50%;
  position: absolute;;
  right: 0;
  top: 0;
  width: 60%;
}

.text-normal {
  text-align: center;
}

.horizontal-normal {
  display: inline-block;
  text-align: center;
}

.button-normal {
  margin-top: 20px;
}

.address-list {

}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
